<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
            <span class="topcoat-icon home-icon"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">HackerNews</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>

<div ng-controller="HackerNewsCtrl">
	    <style type="text/css">
		    .datatbl .datatblTD{padding:0px 20px 0px 20px;}
			.datatbl tr{height:100px;}
		</style>
	    <div>
			<div style="width:100%;height:50px;background-color:#9EA718;color:white;text-align:center;vertical-align:middle;">
				<div style="font-weight:bold;font-size:24px;padding-top:12px;">SkolTech Events</div>
			</div>
			<div style="width:100%;height:600px;overflow:scroll;">
			    <table style="width:100%;height:50px;background-color:#383838;font-weight:bold;font-size:26px;color:white;">
				   <tr>
						<td style="width:200px;text-align:center;border-right:solid 2px #fff;">All</td>
						<td style="width:200px;text-align:center;border-right:solid 2px #fff;">Day</td>
						<td style="width:200px;text-align:center;">Month</td>						
				   </tr>
				</table>
				<table class="datatbl" style="width:100%;background-color:#fff;height:500px;overflow:scroll;">
					<tr>
						<td class="datatblTD" style="border-bottom:solid 1px #000;">
						  <span style="font-size:22px; font-weight:bold;">Event Title1</span><br/>
						  <span style="font-size:20px; font-weight:bold;">Time - Date</span><br/>
						  <span style="font-size:20px; font-weight:bold;">Place</span>
						</td>
					</tr>
					<tr>
						<td class="datatblTD" style="border-bottom:solid 1px #000;">
						  <span style="font-size:22px; font-weight:bold;">Event Title2</span><br/>
						  <span style="font-size:20px; font-weight:bold;">Time - Date</span><br/>
						  <span style="font-size:20px; font-weight:bold;">Place</span>
						</td>
					</tr>
					<tr>
						<td class="datatblTD" style="border-bottom:solid 1px #000;">
						  <span style="font-size:22px; font-weight:bold;">Event Title3</span><br/>
						  <span style="font-size:20px; font-weight:bold;">Time - Date</span><br/>
						  <span style="font-size:20px; font-weight:bold;">Place</span>
						</td>
					</tr>
					<tr>
						<td class="datatblTD" style="border-bottom:solid 1px #000;">
						  <span style="font-size:22px; font-weight:bold;">Event Title4</span><br/>
						  <span style="font-size:20px; font-weight:bold;">Time - Date</span><br/>
						  <span style="font-size:20px; font-weight:bold;">Place</span>
						</td>
					</tr>
					<tr>
						<td class="datatblTD" style="border-bottom:solid 1px #000;">
						  <span style="font-size:22px; font-weight:bold;">Event Title5</span><br/>
						  <span style="font-size:20px; font-weight:bold;">Time - Date</span><br/>
						  <span style="font-size:20px; font-weight:bold;">Place</span>
						</td>
					</tr>
					<tr>
						<td class="datatblTD">
						  <span style="font-size:22px; font-weight:bold;">Event Title6</span><br/>
						  <span style="font-size:20px; font-weight:bold;">Time - Date</span><br/>
						  <span style="font-size:20px; font-weight:bold;">Place</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
</div>

<ng-include src="'partials/settingsOverlay.html'"></ng-include>